name: Publish wiki

on:
  workflow_dispatch:
  push:
      branches:
        - "master"
jobs:
  generatewiki:
    name: Generate WIKI
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: 'true'

    - name: Set up GO
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'
        check-latest: true

    - name: Generate wiki
      run: |
        make genwiki PARAM=--verbose

    - name: Publish if any changes
      env:
        GIT_USER_EMAIL: ${{ secrets.PERBOT_EMAIL }}
        GIT_USER_NAME: ${{ secrets.PERBOT_USERNAME }}
      run: |
        git status
        cd gopherciser.wiki
          if [[ "$(git status -s)" != "" ]]; then
            git status
            echo "publishing wiki"
            set -e
            echo "setup user..."
            git config user.email "$GIT_USER_EMAIL"
            git config user.name "$GIT_USER_NAME"
            echo "stage files..."
            git add -A
            echo "commiting..."
            git commit -m "Github action automatically generated wiki"
            echo "pushing..."
            git push
        else
          echo "no changes skipping publish"
        fi
